# SILVIA VERA U00182839

#Escribe un programa que adivine entre un conjunto de diez colores definidos por el usuario, con un máximo de 10 intentos.

In [8]:
#Por comprensión
import random

colores = [input(f"Introduce el color {i+1}: ") for i in range(10)]
color_secreto = random.choice(colores)
intentos = 0

while intentos < 10:
    intento_usuario = input("Adivina el color: ")
    intentos += 1
    if intento_usuario == color_secreto:
        print(f"¡Felicidades! Adivinaste el color en {intentos} intentos.")
        break
    else:
        print(f"Intenta nuevamente. Intentos restantes: {10 - intentos}")
else:
    print(f"Lo siento, el color secreto era {color_secreto}.")

Introduce el color 1: azul
Introduce el color 2: rojo
Introduce el color 3: verde
Introduce el color 4: amarillo
Introduce el color 5: naranja
Introduce el color 6: negro
Introduce el color 7: blanco
Introduce el color 8: rosa
Introduce el color 9: morado
Introduce el color 10: marron
Adivina el color: azul
Intenta nuevamente. Intentos restantes: 9
Adivina el color: roj
Intenta nuevamente. Intentos restantes: 8
Adivina el color: verde
Intenta nuevamente. Intentos restantes: 7
Adivina el color: amarillo
Intenta nuevamente. Intentos restantes: 6
Adivina el color: rosa
Intenta nuevamente. Intentos restantes: 5
Adivina el color: marron
¡Felicidades! Adivinaste el color en 6 intentos.

In [9]:
#Por Lambda
import random

colores = [input(f"Introduce el color {i+1}: ") for i in range(10)]
color_secreto = random.choice(colores)
adivinanza = lambda intento: intento == color_secreto
intentos = 0

while intentos < 10:
    intento_usuario = input("Adivina el color: ")
    intentos += 1
    if adivinanza(intento_usuario):
        print(f"¡Felicidades! Adivinaste el color en {intentos} intentos.")
        break
    else:
        print(f"Intenta nuevamente. Intentos restantes: {10 - intentos}")
else:
    print(f"Lo siento, el color secreto era {color_secreto}.")

Introduce el color 1: rojo
Introduce el color 2: azul
Introduce el color 3: verde
Introduce el color 4: amarillo
Introduce el color 5: naranja
Introduce el color 6: negro
Introduce el color 7: blanco
Introduce el color 8: rosa
Introduce el color 9: morado
Introduce el color 10: marron
Adivina el color: rosa
Intenta nuevamente. Intentos restantes: 9
Adivina el color: morado
¡Felicidades! Adivinaste el color en 2 intentos.

#Desarrolla un programa que muestre los números pares del 1 al 100

In [10]:
# Por comprension
for i in range(1, 101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [11]:
# Por lambda
list(filter(lambda x: x % 2 == 0, range(1, 101)))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# Calcular la suma de los dígitos de un número

In [12]:
# Por comprensión
numero = int(input("Introduce un número: "))
suma_digitos = sum([int(digit) for digit in str(numero)])
print(f"La suma de los dígitos es: {suma_digitos}")

Introduce un número: 867
La suma de los dígitos es: 21

In [13]:
# Por Lambda
numero = int(input("Introduce un número: "))
suma_digitos = sum(map(lambda x: int(x), str(numero)))
print(f"La suma de los dígitos es: {suma_digitos}")

Introduce un número: 675
La suma de los dígitos es: 18

#Determinar si un número es primo

In [14]:
# Por comprensión
def es_primo(numero):
    if numero < 2:
        return False
    for i in range(2, int(numero**0.5) + 1):
        if numero % i == 0:
            return False
    return True

numero = int(input("Introduce un número: "))
if es_primo(numero):
    print(f"{numero} es primo.")
else:
    print(f"{numero} no es primo.")

Introduce un número: 65
65 no es primo.

In [15]:
# Por Lambda
es_primo = lambda n: all(n % i != 0 for i in range(2, int(n**0.5) + 1)) if n > 1 else False
numero = int(input("Introduce un número: "))
if es_primo(numero):
    print(f"{numero} es primo.")
else:
    print(f"{numero} no es primo.")

Introduce un número: 66
66 no es primo.

#Mostrar el patrón de un triángulo con asteriscos

In [16]:
# Por comprensión
filas = int(input("Introduce el número de filas: "))
for i in range(1, filas + 1):
    print('*' * i)

Introduce el número de filas: 8
*
**
***
****
*****
******
*******
********

In [19]:
# Por lambda
filas = int(input("Introduce el número de filas: "))
triangulo = lambda filas: list(filter(lambda x: print('*' * x), range(1, filas + 1)))

triangulo(filas)

Introduce el número de filas: 8
*
**
***
****
*****
******
*******
********

[]

# Calcular la potencia de un número sin usar el operador **

In [21]:
# Por comprensión
base = int(input("Introduce la base: "))
exponente = int(input("Introduce el exponente: "))
resultado = 1
for _ in range(exponente):
    resultado *= base
print(f"{base} elevado a {exponente} es {resultado}")

Introduce la base: 6
Introduce el exponente: 7
6 elevado a 7 es 279936

In [23]:
# Por Lambda
potencia = lambda base, exponente: reduce(lambda x, _: x * base, range(exponente), 1)
from functools import reduce
base = int(input("Introduce la base: "))
exponente = int(input("Introduce el exponente: "))
print(f"{base} elevado a {exponente} es {potencia(base, exponente)}")

Introduce la base: 7
Introduce el exponente: 2
7 elevado a 2 es 49

#Mostrar todas las tablas de multiplicar del 1 al 10

In [24]:
# Por comprensión
for i in range(1, 11):
    print(f"Tabla de multiplicar del {i}:")
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

Tabla de multiplicar del 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla de multiplicar del 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla de multiplicar del 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla de multiplicar del 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla de multiplicar del 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla de multiplicar del 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla de multiplicar del 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla de multiplicar del 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla de multiplicar del 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla de multiplicar del 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [25]:
# Por Lambda
multiplicar = lambda x, y: x * y
for i in range(1, 11):
    print(f"Tabla de multiplicar del {i}:")
    list(map(lambda j: print(f"{i} x {j} = {multiplicar(i, j)}"), range(1, 11)))
    print()

Tabla de multiplicar del 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla de multiplicar del 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla de multiplicar del 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla de multiplicar del 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla de multiplicar del 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla de multiplicar del 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla de multiplicar del 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla de multiplicar del 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla de multiplicar del 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla de multiplicar del 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Encontrar números perfectos hasta n

In [27]:
# Por comprensión
def es_perfecto(n):
    return sum(i for i in range(1, n) if n % i == 0) == n

n = int(input("Introduce un número: "))
for i in range(1, n + 1):
    if es_perfecto(i):
        print(i)

Introduce un número: 65
6
28

In [31]:
# Por Lambda
es_perfecto = lambda n: sum(i for i in range(1, n) if n % i == 0) == n
n = int(input("Introduce un número: "))
numeros_perfectos = filter(es_perfecto, range(1, n + 1))
for numero in numeros_perfectos:
    print(numero)

Introduce un número: 65
6
28

# Generar un patrón de diamante con asteriscos

In [53]:
# Por comprensión
filas = int(input("Introduce el número de filas: "))
for i in range(1, filas + 1):
    print(' ' * (filas - i) + '*' * (2 * i - 1))
for i in range(filas - 1, 0, -1):
    print(' ' * (filas - i) + '*' * (2 * i - 1))

Introduce el número de filas: 6
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [35]:
# Por Lambda
diamante = lambda filas: list(filter(lambda i: print(' ' * (filas - i) + '*' * (2 * i - 1)), range(1, filas + 1))) + \
                         list(filter(lambda i: print(' ' * (filas - i) + '*' * (2 * i - 1)), range(filas - 1, 0, -1)))

filas = int(input("Introduce el número de filas: "))

diamante(filas)

Introduce el número de filas: 6
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

[]

# Encontrar números Armstrong hasta n

In [36]:
# Por comprensión
def es_armstrong(n):
    num_str = str(n)
    return sum(int(digit) ** len(num_str) for digit in num_str) == n

n = int(input("Introduce un número: "))
for i in range(n):
    if es_armstrong(i):
        print(i)

Introduce un número: 6
0
1
2
3
4
5

In [39]:
# Por Lambda
es_armstrong = lambda n: sum(int(digit) ** len(str(n)) for digit in str(n)) == n

n = int(input("Introduce un número: "))
numeros_armstrong = filter(es_armstrong, range(n))
for numero in numeros_armstrong:
    print(numero)

Introduce un número: 6
0
1
2
3
4
5

# Simular un reloj digital

In [50]:
# Por comprensión
import time

segundos = int(input("Introduce la cantidad de segundos a contar: "))
for i in range(segundos):
    horas, minutos = divmod(i, 3600)
    minutos, segundos = divmod(minutos, 60)
    print(f"{horas:02}:{minutos:02}:{segundos:02}")
    time.sleep(1)

Introduce la cantidad de segundos a contar: 60
00:00:00
00:00:01
00:00:02
00:00:03
00:00:04
00:00:05
00:00:06
00:00:07
00:00:08
00:00:09
00:00:10
00:00:11
00:00:12
00:00:13
00:00:14
00:00:15
00:00:16
00:00:17
00:00:18
00:00:19
00:00:20
00:00:21
00:00:22
00:00:23
00:00:24
00:00:25
00:00:26
00:00:27
00:00:28
00:00:29
00:00:30
00:00:31
00:00:32
00:00:33
00:00:34
00:00:35
00:00:36
00:00:37
00:00:38
00:00:39
00:00:40
00:00:41
00:00:42
00:00:43
00:00:44
00:00:45
00:00:46
00:00:47
00:00:48
00:00:49
00:00:50
00:00:51
00:00:52
00:00:53
00:00:54
00:00:55
00:00:56
00:00:57
00:00:58
00:00:59

In [52]:
# Por Lambda
import time

reloj = lambda segundos: (segundos // 3600, (segundos % 3600) // 60, segundos % 60)

segundos_totales = int(input("Introduce el número de segundos a contar: "))

list(filter(lambda s: print(f"{reloj(s)[0]:02}:{reloj(s)[1]:02}:{reloj(s)[2]:02}") or time.sleep(1), range(segundos_totales)))

Introduce el número de segundos a contar: 60
00:00:00
00:00:01
00:00:02
00:00:03
00:00:04
00:00:05
00:00:06
00:00:07
00:00:08
00:00:09
00:00:10
00:00:11
00:00:12
00:00:13
00:00:14
00:00:15
00:00:16
00:00:17
00:00:18
00:00:19
00:00:20
00:00:21
00:00:22
00:00:23
00:00:24
00:00:25
00:00:26
00:00:27
00:00:28
00:00:29
00:00:30
00:00:31
00:00:32
00:00:33
00:00:34
00:00:35
00:00:36
00:00:37
00:00:38
00:00:39
00:00:40
00:00:41
00:00:42
00:00:43
00:00:44
00:00:45
00:00:46
00:00:47
00:00:48
00:00:49
00:00:50
00:00:51
00:00:52
00:00:53
00:00:54
00:00:55
00:00:56
00:00:57
00:00:58
00:00:59

[]